@model IEnumerable<HomeWork2019.Models.View_1>

@{
    ViewBag.Title = "客戶清單";
}

<h2>客戶清單</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶銀行數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶聯絡人數量)
        </th>
        <th></th>
    </tr>

</table>
